/* 
grid-template-rows

Данное свойство используется для определения количества и высоты
строк. При этом, можно определять как высоту каждой колонки в 
отдельности, так и устанавливать высоту всех строк с помощью 
функции repeat(). */
 .container {
    display: grid;
    gap: 20px;
    height: 100vh;
  

    grid-template-rows: 200px auto 100px;
  }