/*
grid-template-areas
Данное свойство используется для определения количества пространства,
занимаемого ячейкой Грида (grid cell), в терминах колонок и строк, 
в родительском контейнере.

Для получения результата требуется не только родительское, но и хотя бы 
одно дочернее свойство:

grid-template-areas: родительское свойство, создающее схему
grid-area: дочернее свойство, которое использует схему
*/

/* Создаем схему */
  .container {
    display: grid;
    gap: 20px;
    height: 100vh;
  
    /* Это можно считать схемой макета: */
    grid-template-areas:
      "A A A A   A A A A   A A A A"
      "B B B B   B B B B   B B C C"
      "B B B B   B B B B   B B C C";
  }


/* Применяем схему */
.box-1 {
    grid-area: A;
  }
  .box-2 {
    grid-area: B;
  }
  .box-3 {
    grid-area: C;
  }