    /* 
    grid-template-columns
    Данное свойство используется для определения количества и ширины 
    колонок. При этом, можно определять как свойства для каждой колонки 
    в отдельности, так и устанавливать ширину всех колонок 
    с помощью функции repeat(). 
    
    Обратите внимание:
    значения в пикселях будут точными. Ключевое слово auto означает 
    заполнение элементом всего доступного пространства
    использование единицы fr (фракция) в repeat() означает, 
    что все контейнеры будут иметь одинаковую ширину*/
.container {
    display: grid;
    gap: 20px;


    grid-template-columns: 200px auto 100px 100px;
}