/* Сбрасываем стили: */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  /* Немного стилизуем body: */
  body {
    font-family: sans-serif;
    font-size: 40px;
    width: 100%;
    min-height: 100vh;
  }

    /* Стилизуем все контейнеры: */
  [class^="box-"] {
    background-color: skyblue;
    /* Размещаем контейнеры по центру */
    display: grid;
    place-items: center;
  }

  .container {
    display: grid;
    gap: 20px;

    /* Данное свойство используется для определения количества и ширины 
    колонок. При этом, можно определять как свойства для каждой колонки 
    в отдельности, так и устанавливать ширину всех колонок с помощью 
    функции repeat(). */
    /* grid-template-columns: 200px auto 100px; */

    /* Данное свойство используется для определения количества и высоты строк. 
    При этом, можно определять как высоту каждой колонки в отдельности, 
    так и устанавливать высоту всех строк с помощью функции repeat(). */
    /* grid-template-rows: 200px auto 100px; */

    /* Данное свойство используется для определения количества 
    пространства, занимаемого ячейкой Грида (grid cell), 
    в терминах колонок и строк, в родительском контейнере. 
    Для получения результата требуется не только родительское,
    но и хотя бы одно дочернее свойство:

    grid-template-areas: родительское свойство, создающее схему
    grid-area: дочернее свойство, которое использует схему
    */
    grid-template-areas:
    "A A A A   A A A A   A A A A"
    "B B B B   B B B B   B B C C"
    "B B B B   B B B B   B B C C";
  }

  .box-1 {
    grid-area: A;
  }
  .box-2 {
    grid-area: B;
  }
  .box-3 {
    grid-area: C;
  }