/* Сбрасываем стили: */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  /* Немного стилизуем body: */
  body {
    font-family: sans-serif;
    font-size: 40px;
    width: 100%;
    min-height: 100vh;
  }

    /* Стилизуем все контейнеры: */
  [class^="box-"] {
    background-color: skyblue;
    /* Размещаем контейнеры по центру */
    display: grid;
    place-items: center;
  }